#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.no-style {
  all: unset;
}

#workspace {
    width: 500px;
    height: 500px;
    border: 3px solid #260062;
    border-radius: 15px;
    
    background-color: #24005e17; /* Solid background color for the base */
    position: relative; /* Required for the pseudo-element positioning */
    overflow: hidden; /* Ensures the pseudo-element stays within the border */
    background-image: radial-gradient(#1f0051 1.25px, transparent 0);
    background-size: 20px 20px;
}

#full-workspace {
  display: flex;
  justify-content: center; /* Centers children horizontally */
}

#sidebar {
    width: 200px;
    height: 500px;
    border: 3px solid #260062;
    border-radius: 15px;
    
    background-color: #24005e17; /* Solid background color for the base */
    position: relative; /* Required for the pseudo-element positioning */
    overflow: hidden; /* Ensures the pseudo-element stays within the border */
    display: flex;
    place-items: middle;
    justify-content: center; /* Centers content horizontally */
}
#sidebar-two {
    width: 200px;
    height: 500px;
    border: 3px solid #260062;
    border-radius: 15px;
    
    background-color: #24005e17; /* Solid background color for the base */
    position: relative; /* Required for the pseudo-element positioning */
    overflow: hidden; /* Ensures the pseudo-element stays within the border */
    display: flex;
    place-items: middle;
    justify-content: center; /* Centers content horizontally */

}
#text-display {
    width: 910px;
    height: 300px;
    border: 3px solid #260062;
    border-radius: 15px;
    
    background-color: #24005e17; /* Solid background color for the base */

    display: flex;
    place-items: middle;
    justify-content: center; /* Centers content horizontally */
    align-items: center;    /* Centers content vertically */
}

#workspace::before {
    content: ''; /* Required for pseudo-elements */
    position: absolute; /* Positions the pseudo-element over the main content */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #160039 0%, rgba(72, 126, 207, 0.03) 100%);
    opacity: 0; /* Initial state: transparent */
    transition: opacity 1s ease-in-out; /* Transitions the opacity over 1 second */
}

#workspace:hover::before {
    opacity: .5; /* Final state on hover: fully opaque gradient */
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


